  <style>
 body {
    background-color: #FFFFFF;
    color: CC0000;
    text-align: center;
    font-family: arial, sans-serif;

  }


h3 {
    color: #000000 ;
    line-height: 0em;	
    font: oblique bold 120% ; 

  }	

  body > p {
   font-variant: small-caps; 
  }
</style>

<div align = "left">    
   <img  src="cerebro.jpg"  WIDTH=50 HEIGHT=35 />  
</div>

<div align="left" >
<h3>Brainsolve!</h3>
 <img  src="cerebro.jpg"  WIDTH=50 HEIGHT=35 />
 <%= image_tag("cerebro.jpg") %>

<%= image_tag ('cerebro.jpg') %>
</div>
</br>
<h3>Aceptada!!</h3>
</br>
<p> Has recibido una notificación de aceptación de Brainsolve</p>
</br>
<p>Una de tus ideas fue aceptada!!</p>
</br>

<p> Aporte elegido por el usuario:  @user.nickname </p>
<p> para que le ayudes con el problema @problem.title</p>
<p> ¿Cómo no se le ocurrió a él? ...  ;) </p>


<p> Da click en el siguiente link para ir a Brainsolve y </p>

<a href="http://localhost:3000">Enterate de los detalles!!</a> 

