/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */



.loquese{
 width: 7%;
 max-height:7%; 
}

.loquese img{
/*position: absolute; */
width: 100%;

}

ul.nav
{
   list-style:none;
}


ul.nav ul /* Para todos los ul debajo del ul.menu */
{
   display:none;
   list-style:none;
} 

.pull-center > .navbar  {
    float:none;
    display:inline-block;
    *display: inline; *zoom: 1;
    height: 32px;
}  


/*define el texto de la cajita del perfil principal */
.cajitaPerfil{
  width: 11%;
  height: 28%;
  min-width:60px;
  min-height: 20px;
background-color: rgb(245, 245, 245);
border: 1px solid rgb(227, 227, 227);
border-radius: 4px 4px 4px 4px;
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05) inset;
  
}

.cajitaPerfil #enlaces{
   position: relative;
   width: 80%;
   height: 80%;
   left: 10%;
   top: 3%;
}

.cajitaPerfil img{
   position: relative;
   left: 18%;
   top: 1em;
   padding: 2%;
   width: 70px;
   height: 70px;
}


