/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

thead{
 font: small-caps bold 100%/200% serif; 
}


.loquese{
 width: 3%;
 max-height:3%; 
}


ul.nav
{
   font-family: verdana, arial, helvetica, sans-serif;
}


ul.nav ul /* Para todos los ul debajo del ul.menu */
{
   display:none;
   list-style:none;
} 

.table-nonfluid {
   width: auto;
}

.pull-center > .navbar  {
    float:none;
    display:inline-block;
    *display: inline; *zoom: 1;
    height: 32px;
}  


.navbar{
    background-color: #B40404;
    }
