// Place all the styles related to the problems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
 .table-nonfluid { width: auto; }

.table tbody td{
  overflow:hidden; max-width:20em; 
  
}

.box{
  width:240px;
  height:100px;
  float:left;
}

.box2{

height:200px;

clear:left;
}


/* Aplica las propiedades aproximadas de twitter para el fondo blanco para ambos cuadros */
.fondoBlanco{
  
  background-color:#D5F1FF; 
  width:900px;
  margin: 0px auto;
   
}

/*estilos para centrar el menu principal*/
.menuCentro{
  
  
  
}



.anchoCajaBlanca{
  
  width:200px;
  
}

/*Define la posicón de la caja de preguntas y el perfíl*/
.problemas{
  
  padding-top:8%;
  
}

/*da formato al menu superior brainsolve*/
.menuSuperior{
  
  padding-top:10px;
  height:50px;
  
}

/*pone color de fondo al texto de los datos de los datos del problemático*/
.fondoDatos{
  
  background-color:white;
  float:left;
  
  
}
