// Place all the styles related to the solutions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.fondoDatos{
  background-color:white;
  float:left;
  border-radius:7px;
  -moz-border-radius:7px;
  height:30px;
  padding: 0px 4px;
  
}